.card {
    border: 1px solid #ededed;
    margin-bottom: 0.5rem;
    background: #638CA6;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card-divider {
    background: #BFD4D9;
    padding: 1rem;
}

.card-section {
    padding: 1rem;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    color: inherit;
}

.card.dark .card-divider {
    background: #0F5959;
    padding: 1rem;
}

.card.dark {
    border: 0;
    background: #17A697;
    color: #fff;
}